html{
    scroll-behavior: smooth;
    
}
body{
    font-family: "Avalon";
    background: url(../Images/Body_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    overflow: hidden;
    -webkit-box-shadow: 9px 8px 5px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 8px 5px 3px rgba(0,0,0,0.55);
    box-shadow: 9px 8px 5px 3px rgba(0,0,0,0.55);
}
p{
    text-shadow: 1px 1px 0px rgba(160, 150, 150, 0.555);
    font-size: 18px;
}
h2{
    text-shadow: -3px 1px 0px rgb(177, 177, 177);
    font-size: 50px;
}
h3{
    text-shadow: -3px 1px 0px rgb(177, 177, 177);
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
/**
 *@import url(//db.onlinewebfonts.com/c/527d17cddcb5f301ba9400f40aaf3d84?family=Avalon);
*/
@font-face{
    font-family: "Avalon";
    src: url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.eot");
    src: url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.eot?#iefix")format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.woff2")format("woff2"),
    url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.woff")format("woff"),
    url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.ttf")format("truetype"),
    url("//db.onlinewebfonts.com/t/527d17cddcb5f301ba9400f40aaf3d84.svg#Avalon")format("svg");
}

/**
*  Navigation bar
*/
nav{
    top: 0;
}
.navbar{
    background: #000000 url("../Images/Poly_pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 1rem;
    position: sticky !important;
    display: flex;
    z-index: 999;
}
.nav-logo{
    height: auto;
    width: 180px;
    padding-right: 25px;
}


.wallpaper
{
    width: 100%;
    min-height: auto;
    margin-bottom: 10px;
    border-bottom: 10px solid #00284d;
    border-top: 10px solid #00284d;
}


/**
* Colors
*/
.color-fire{
    color: red;
}
.color-water{
    color: blue;
}
.color-wind{
    color: rgb(68, 189, 68);
}
.color-light{
    color: rgb(255, 255, 0);
}
.color-shadow{
    color: purple;
}


/**
* Halftone effect backgrounds
*/
.default-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Default.png);
    background-size: cover;
}
.default-halftone-effect-flip{
    background: url(../Images/Color\ Halftone\ 1920x1080_Default\ _Flip.png);
    background-size: cover;
}
.fire-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Fire.png);
    background-size: cover;
}
.fire-halftone-effect-flip{
    background: url(../Images/Color\ Halftone\ 1920x1080\ _Fire_\ Flip.png);
    background-size: cover;
}
.water-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080\ _Water.png);
    background-size: cover;
}
.wind-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Wind.png);
    background-size: cover;
}
.wind-halftone-effect-flip{
    background: url(../Images/Color\ Halftone\ 1920x1080_Wind_Flip.png);
    background-size: cover;
}
.light-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Light_Flip.png);
    background-size: cover;
}
.shadow-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Shadow_Flip.png);
    background-size: cover;
}


/**
* Sections
*/
.section-footer{
    background-color: black;
    border-top: 10px solid #00284d;
    border-bottom: 20px solid black;
    padding-top: 20px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0px;
}
.section-wallpaper{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#section-Wyrmprint{
    margin-top: 30px;
    background-color: white;
    margin-bottom:50px;
}


/**
* Div text box
*/
.text-box{
    position: relative;
    background-color: white;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}


/**
* Borders
*/
.default-border{
    border-bottom: 10px solid #00284d;
    border-right: 5px solid #00284d;
    border-left: 7px solid #00284d;
    border-top: 3px solid #00284d;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}
.fire-border{
    border-bottom: 10px solid #990000;
    border-right: 5px solid #990000;
    border-left: 7px solid #990000;
    border-top: 3px solid #990000;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}
.water-border{
    border-bottom: 10px solid #000066;
    border-right: 5px solid #000066;
    border-left: 7px solid #000066;
    border-top: 3px solid #000066;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}
.wind-border{
    border-bottom: 10px solid #004d00;
    border-right: 5px solid #004d00;
    border-left: 7px solid #004d00;
    border-top: 3px solid #004d00;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}
.light-border{
    border-bottom: 10px solid #806000;
    border-right: 5px solid #806000;
    border-left: 7px solid #806000;
    border-top: 3px solid #806000;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}
.shadow-border{
    border-bottom: 10px solid #4d004d;
    border-right: 5px solid #4d004d;
    border-left: 7px solid #4d004d;
    border-top: 3px solid #4d004d;
    box-shadow: 9px 6px 5px 6px rgba(0,0,0,0.5);
}


/**
* Padding & margins
*/
.top-padding{
    padding-top: 30px;
}
.bottom-padding{
    padding-bottom: 50px;
}

.top-margin{
    margin-top: 50px;
}
.bottom-margin{
    margin-bottom: 50px;
}
.padding-left-10px{
    padding-left: 10px;
}
.padding-left-20px{
    padding-left: 20px;
}
.padding-top-10px{
    padding-top: 10px;
}

/**
* Images
*/
.adventurer-img{
    height: auto;
    width: 420px;
    position: relative;
    margin-bottom: 50px;
    -webkit-filter: drop-shadow(-5px 5px 1px #222);
    filter: drop-shadow(-5px 5px 1px #222);
}
.img-thumbnail{
    border: 1px solid #00284d !important;
    background-color:  #00284d !important;
    margin-bottom: 5px;
}
.dragon-img{
    height: auto;
    width: 600px;
	position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    -webkit-filter: drop-shadow(-5px 5px 1px #222);
    filter: drop-shadow(-5px 5px 1px #222);
}
.screenshot-img{
	position: relative;
    height: auto;
    width: 400px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.screenshot-small-img{
    height: auto;
	position: relative;
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #00284d !important;
}
#wyrmprint-fig{
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}
.dragon-background{
    background: url(../Images/Dragon_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}



/**
* Float property
*/
.float-left{
    float: left;
}
.float-right{
    float: right;
}



/**
* Flip image horizontally
*/
.flip-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}



/**
* Videos
*/
.video-gameplay{
    float: right;
    width: 300px;
    height: auto;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid black;
    border-radius: 50px;
}

/**
* Discussion page
*/
.comment-box{
    position: relative;
    background-color: white;
    height: auto;
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
}
.comment-form-box{
   padding: 24px; 
}
.user-comment-box{
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    height: auto;
    border-radius: 25px;
}

/**
* Button
*/
.btn-primary{
    background-color: #659bd4 !important;
    border-color: #00284d !important;
}

#headerVideo{
    position: relative;
    height: auto;
    width: 100%;
}
.videoController{
    position: relative;
    bottom: 115px;
    width: 100%;
    z-index: 99;
    background: rgb(19, 1, 24);
    color: white;
    padding-left: 5px;
    margin-left: 7px;
    padding-bottom: 10px;
    padding-top: 5px;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}
.videoController:hover{
  opacity: 1;
}
.headerVideoBtn{
    width: 55px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-weight: bold;
    left: 150px;
    transition: all 0.5s ease-in;
    background-color: white;
}
.headerVideoBtn:hover{
    background-color: rgb(21, 211, 218) !important;
}
.headerVideoBtn:focus{
    outline: 0px !important;
}

/** 
*Small devices (landscape phones, 576px and up)
*/
@media only screen and (max-width: 576px){
    .adventurer-img{
        width: 350px;
    }
    .dragon-img{
        width: 150px;
    }
    .screenshot-img{
        width: 150px;
    }
    .screenshot-small-img{
        width: 120px;
    }
    p{
        font-size: 12px;
    }
   .fire-halftone-effect-flip{
        background: url(../Images/Color\ Halftone\ 1920x1080_Fire.png);
   }
   .wind-halftone-effect-flip{
        background: url(../Images/Color\ Halftone\ 1920x1080_Wind.png);
   }
   .light-halftone-effect{
        background: url(../Images/Color\ Halftone\ 1920x1080\ _Light.png);
   }
   .shadow-halftone-effect{
    background: url(../Images/Color\ Halftone\ 1920x1080_Shadow.png);
   }
   .default-halftone-effect-flip{
    background: url(../Images/Color\ Halftone\ 1920x1080_Default.png);
   }
   .comment-box{
       margin-right: 0px;
       margin-left: 0px;
   }
}

@media only screen and (max-width: 992px) {
    
    .adventurer-img{
        width: 420px;
    }
    .dragon-img{
        width: 600px;
    }
    .screenshot-img{
        width: 400px;
    }
    .screenshot-small-img{
        width: 250px;
    }
}